body {
  margin: 0;
}

.first {
  width: 100%;
  height: 650px;
  background: url("https://www.gstatic.com/youtube/img/promos/growth/ytr_lp2_hero_lightgray_desktop_1440x600.jpg");
  background-repeat: no-repeat;
  text-align: center;
  background-size: auto 650px;
}

.container {
  padding: 95px;
}

.logo {
  width: 552px;
  height: 71px;
}

.button {
  background-color: #0000FF;
  color: white;
  width: 109px;
  height: 37px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  border-radius: 2px;
  margin: 40px 16px;
  border: none;
  margin-bottom: 20px;
}

.button:hover {
  cursor: pointer;
}

img {
  padding-top: 60px;
}

.grid-container {
  width: 100%;
  height: 380px;
  display: grid;
  grid-template-columns: auto auto auto;
  font-family: Roboto;
  font-weight: 300;
}

.icons {
  width: 84px;
  height: 84px;
}

.center {
  text-align: center;
}

.head {
  font-size: 32px;
  width: 312px;
  height: 80px;
}

.title {
  width: 312px;
  height: 72px;
  font-size: 16px;
}

.hello {
  background: url("https://www.gstatic.com/youtube/img/promos/growth/ytr_lp2_story1_indiancoupleandroid_desktop_1440x810.jpg");
  box-sizing: border-box;
  min-height: 550px;
  padding: var(--ytd-margin-6x);
  background-position: center top;
  background-size: cover;
}

.gupta {
  padding-top: 200px;
  margin-left: 800px;
  padding-right: 20px;
}

.mihir {
  font-size: 55px;
  font-weight: 300;
  line-height: 1.16;
  opacity: 0.95;
  font-family: Roboto;
  color: white;
}

.content {
  width: 461px;
  height: 54px;
  font-size: 18px;
  padding-top: 20px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.65);
  font-family: Roboto;
}

.man {
  background: url("https://www.gstatic.com/youtube/img/promos/growth/ytr_lp2_story2_indiadownload_desktop_1440x810.jpg");
  height: 550px;
  box-sizing: border-box;
  min-height: 550px;
  padding: var(--ytd-margin-6x);
  background-position: center top;
  background-size: cover;
}

.gupta1 {
  padding-top: 200px;
  margin-right: 800px;
  padding-left: 60px;
}

.beard {
  background: url("https://www.gstatic.com/youtube/img/promos/growth/ytr_lp2_story3_indianman_bkg_desktop_1440x810.jpg");
  height: 550px;
  box-sizing: border-box;
  min-height: 550px;
  padding: var(--ytd-margin-6x);
  background-position: center top;
  background-size: cover;
}

.phone {
  background: url("https://www.gstatic.com/youtube/img/promos/growth/ytr_lp2_story4_musictxtright_desktop_1440x810.jpg");
  height: 550px;
  box-sizing: border-box;
  min-height: 550px;
  padding: var(--ytd-margin-6x);
  background-position: center top;
  background-size: cover;
}

.girl {
  background: url("https://www.gstatic.com/youtube/img/promos/growth/ytr_lp2_story5_originals_desktop_1440x810.jpg");
  height: 550px;
  box-sizing: border-box;
  min-height: 550px;
  padding: var(--ytd-margin-6x);
  background-position: center top;
  background-size: cover;
}
